{{> header}}

<h2>Reset your password</h2>
<p>Hi {{firstName}},</p>
<p>
  We received a request to reset your password. Use the one-time code below.
  It expires in <strong>{{expiryMinutes}} minutes</strong>.
</p>

<div class="otp-box">
  <div class="otp">{{otp}}</div>
  <small>Enter this code to create a new password</small>
</div>

<div class="alert-box">
  <p>&#9888; If you did not request a password reset, please secure your account immediately by changing your password.</p>
</div>

{{> footer}}
